.place__paragraphs-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 590px) {
  .place__paragraphs-container {
    width: calc(100% - 2 * 16px);
    margin: 0 auto;
  }
}
