.places__container {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 72px;
  width: calc(100% - 2 * 24px);
}

@media screen and (max-width: 425px) {
  .places__container {
    width: 100%;
    gap: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .places__container {
    width: calc(100% - 2 * 48px);
    gap: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .places__container {
    width: calc(100% - 2 * 148px);
    max-width: 984px;
  }
}
