.footer__link {
  margin-right: 18px;
  font-size: 16px;
  line-height: 1.12;
  font-weight: normal;
}

@media screen and (max-width: 475px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
}
