.lead__title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  /* line-height: 1.04; */
  line-height: calc(100 / 96);
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
