@import url("../vendor/normalize.css");
@import url("../fonts/inter/inter.css");

/* page.css */
.page {
  background-color: #2a2c2f;
  font-family: 'Inter', sans-serif;
  color: white;
}
/* link.css */
.link {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}
/* span-accent */
.span-accent {
  font-weight: bold;
  padding: 0;
}

/* header.css */
.header {
  padding-top: 34px;
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 20px;
  }
}
/* header__container.css */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}


/* 1024px > width > 320px (768px is in this range) */
@media screen and (min-width: 320px) {
  .header__container {
    width: calc(100% - 2 * 24px);
  }
}

/* width <= 320px */
@media screen and (max-width: 320px) {
  .header__container {
    width: calc(100% - 2 * 16px);
  }
}

/* 1280px > width >= 1024 */
@media screen and (min-width: 1024px) {
  .header__container {
    width: calc(100% - 2 * 48px);
  }
}

/* width >= 1280px */
@media screen and (min-width: 1280px) {
  .header__container {
    width: calc(100% - 2 * 148px);
  }
}
/* logo */
.logo {
  width: 190px;
}

@media screen and (max-width: 320px) {
  .logo {
    width: 156px;
  }
}
/* header__lang-links.css */
.header__lang-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  padding-bottom: 4px;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    padding-bottom: 6px;
  }
}
/* header__lang-link */
.header__lang-link {
  padding-left: 18px;
  margin: 0;
  font-size: 24px;
  line-height: 1.17;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link_active {
  text-decoration-line: underline;
}

/* lead.css */
.lead {
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: flex-start;
}

@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 58px;
  }
}

/* lead__title.css */
.lead__title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  /* line-height: 1.04; */
  line-height: calc(100 / 96);
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
/* lead__subtitle.css */
.lead__subtitle {
  padding: 32px 0 0;
  margin: 0 auto;
  max-width: 620px;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.lead__image-container {
  margin: 56px auto 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .lead__image-container {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image-container {
    margin-top: 64px;
    max-width: 984px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image-container {
    margin-top: 40px;
  }
}

/* lead__image.css */
.lead__image {
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* lead__caption.css */
.lead__caption {
  padding: 8px 0 0 24px;
  margin: 0;
  /* width: 100%; */
  font-size: 10px;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: left;
}

/* width <= 320px */
@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}

/* width >= 1024 */
@media screen and (min-width: 1024px) {
  .lead__caption {
    padding-left: 0;
  }
}

/* intro.css */
.intro {
  margin: 88px auto 0;
  width: calc(100% - 2 * 24px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 320px) {
  .intro {
    margin-top: 64px;
    width: calc(100% - 2 * 16px);
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    margin-top: 92px;
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    width: calc(100% - 2 * 148px);
  }
}

/* intro__title.css */
.intro__title {
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  max-width: 720px;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
    max-width: 690px;
  }
}
/* intro__subtitle.css */
.intro__subtitle {
  padding: 0;
  margin: 40px 0 0;
  font-size: 24px;
  line-height: 1.42;
  font-weight: normal;
  max-width: 720px;
}

@media screen and (max-width: 320px) {
  .intro__subtitle {
    line-height: 1.25;
    max-width: 288px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__subtitle {
    max-width: 690px;
  }
}
/* intro__text.css */
.intro__text {
  margin: 32px 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.63;
  font-weight: normal;
  max-width: 720px;
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}
/* intro__list.css */
.intro__list {
  margin: 33px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin-top: 34px;
  }
}
/* intro__list-item.css */
.intro__list-item {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
}

/* photo-grid.css */
.photo-grid {
  margin: 88px auto 0;
  width: calc(100% - 2 * 24px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin-top: 64px;
    width: calc(100% - 2 * 16px);
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin-top: 92px;
    width: calc(100% - 2 * 48px);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
/* photo-grid__item.css */
.photo-grid__item {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

/* places.css */
.places {
  margin-top: 88px;
}

@media screen and (max-width: 320px) {
  .places {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    margin-top: 92px;
  }
}
/* places__container.css */
.places__container {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 72px;
  width: calc(100% - 2 * 24px);
}

@media screen and (max-width: 320px) {
  .places__container {
    width: 100%;
    gap: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .places__container {
    width: calc(100% - 2 * 48px);
    gap: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .places__container {
    width: calc(100% - 2 * 148px);
    max-width: 984px;
  }
}
/* place.css */
.place {
  padding: 0;
  display: grid;
  grid-template-columns: calc(340 / 720 * 100%) calc(352 / 720 * 100%);
  grid-template-rows: auto;
  gap: 48px 28px;
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: calc(440 / 928 * 100%) calc(456 / 928 * 100%);
    column-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: calc(460 / 984 * 100%) calc(484 / 984 * 100%);
    column-gap: 40px;
  }
}
/* place__title.css */
.place__title {
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 42px;
  line-height: 1.1;
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    padding-left: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
  }
}
/* place__website.css */
.place__website {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 320px) {
  .place__website {
    padding-left: 16px;
  }
}

/* place__url-heading.css */
.place__url-heading {
  padding: 0 0 12px 0;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    line-height: 1.7;
    padding-bottom: 4px;
  }
}
/* place__link.css */
.place__link {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  text-decoration-line: underline;
  transition: opacity .25s linear;
}

.place__link:hover {
  opacity: .5;
}
/* place__image.css */
.place__image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/* place__paragraphs-container.css */
.place__paragraphs-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 320px) {
  .place__paragraphs-container {
    width: calc(100% - 2 * 16px);
    margin: 0 auto;
  }
}
/* place__paragraph.css */
.place__paragraph {
  padding: 0;
  font-weight: normal;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.63;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}

/* cover.css */
.cover {
  width: 100%;
  margin: 89px auto 0;
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: calc(100% - 2 * 48px);
    max-width: 1184px;
  }
}
/* cover__link.css */
.cover__link {
  background-image: url("../images/cover-route-66.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  min-height: 480px;
}

@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}
/* conver__text.css */
.cover__text {
  z-index: 2;
}
/* cover__title.css */
.cover__title {
  text-align: center;
  margin: 0 0 32px 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 16px;
    min-height: 35px;
  }
}
/* cover__subtitle.css */
.cover__subtitle {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  max-width: 320px;
  min-height: 66px;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
    min-height: 48px;
  }
}
/* cover__overlay.css */
.cover__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity .25s linear;
}

.cover__overlay:hover {
  opacity: 0.8;
}

/* footer.css */
.footer {
  margin: 90px 0 24px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 94px;
  }
}
/* footer__container.css */
.footer__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2 * 24px);
}

@media screen and (max-width: 320px) {
  .footer__container {
    flex-direction: column;
    width: calc(100% - 2 * 16px);
  }
}

@media screen and (min-width: 1024px) {
  .footer__container {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (min-width: 1280px){
  .footer__container {
    max-width: 1184px;
  }
}
/* footer__links.css */
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .footer__links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin-bottom: 48px;
  }
}
/* footer__link.css */
.footer__link {
  margin: 0;
  padding: 0 18px 0 0;
  font-size: 16px;
  line-height: 1.12;
  font-weight: normal;
  color: white;
  text-decoration: none;
  /* align-self: baseline; */
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    padding: 0;
    margin:0;
  }
}

/* footer__copyright.css */
.footer__copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: normal;
  /* text-align: right; */
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 1;
  }
}
