@import url("../vendor/normalize.css");
@import url("../fonts/inter/inter.css");

/* page.css */
.page {
  background-color: #2a2c2f;
  font-family: 'Inter', sans-serif;
  color: white;
}
/* link.css */
.link {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  transition: opacity .25s linear;
}

.link:hover {
  opacity: .5;
}
/* span-accent */
.span-accent {
  font-weight: bold;
  padding: 0;
}

/* header.css */
.header {
  padding-top: 34px;
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 20px;
  }
}
/* header__container.css */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}


/* 1024px > width > 320px (768px is in this range) */
@media screen and (min-width: 320px) {
  .header__container {
    width: calc(100% - 2 * 24px);
  }
}

/* width <= 320px */
@media screen and (max-width: 320px) {
  .header__container {
    width: calc(100% - 2 * 16px);
  }
}

/* 1280px > width >= 1024 */
@media screen and (min-width: 1024px) {
  .header__container {
    width: calc(100% - 2 * 48px);
  }
}

/* width >= 1280px */
@media screen and (min-width: 1280px) {
  .header__container {
    width: calc(100% - 2 * 148px);
  }
}
/* logo */
.logo {
  width: 190px;
}

@media screen and (max-width: 320px) {
  .logo {
    width: 156px;
  }
}
/* header__lang-links.css */
.header__lang-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  padding-bottom: 4px;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    padding-bottom: 6px;
  }
}
/* header__lang-link */
.header__lang-link {
  padding-left: 18px;
  margin: 0;
  font-size: 24px;
  line-height: 1.17;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link_active {
  text-decoration-line: underline;
}

/* lead.css */
.lead {
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: flex-start;
}

@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 58px;
  }
}

/* lead__title.css */
.lead__title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  /* line-height: 1.04; */
  line-height: calc(100 / 96);
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
/* lead__subtitle.css */
.lead__subtitle {
  padding: 0;
  margin: 32px auto 0;
  max-width: 620px;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.lead__image-container {
  margin: 56px auto 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .lead__image-container {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image-container {
    margin-top: 64px;
    max-width: 984px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image-container {
    margin-top: 40px;
  }
}

/* lead__image.css */
.lead__image {
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* lead__caption.css */
.lead__caption {
  padding: 0 0 0 24px;
  margin: 8px 0 0;
  min-height: 14px;
  width: 100%;
  font-size: 10px;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: .15em;
  text-transform: uppercase;
  text-align: left;
}

/* width <= 320px */
@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}

/* width >= 1024 */
@media screen and (min-width: 1024px) {
  .lead__caption {
    padding-left: 0;
  }
}

/* intro.css */
@media screen and (min-width: 1280px) {
  .intro {
    margin: 92px auto 0 148px;
    width: 690px;
    min-height: 569px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
/* intro__title.css */
@media screen and (min-width: 1280px) {
  .intro__title {
    padding: 0;
    margin: 0;
    font-size: 54px;
    line-height: 1.07;
    font-weight: 900;
  }
}
/* intro__subtitle.css */
@media screen and (min-width: 1280px) {
  .intro__subtitle {
    margin: 40px 0 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.42;
    font-weight: normal;
  }
}
/* intro__text.css */
@media screen and (min-width: 1280px) {
  .intro__text {
    margin: 32px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
  }
}
/* intro__list.css */
@media screen and (min-width: 1280px) {
  .intro__list {
    margin: 33px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
/* intro__list-item.css */
@media screen and (min-width: 1280px)
{
  .intro__list-item {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
  }
}

/* photo-grid.css */
@media screen and (min-width: 1280px) {
  .photo-grid {
    margin: 92px auto 0 auto;
    width: calc(100% - 2 * 48px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    border: 1px dashed red;
  }
}
/* photo-grid__item.css */
@media screen and (min-width: 1280px) {
  .photo-grid__item {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* places.css */
@media screen and (min-width: 1280px) {
  .places {
    margin-top: 92px;
    border: 1px dashed red;
  }
}
/* places__container.css */
@media screen and (min-width: 1280px) {
  .places__container {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: calc(984 / 1280 * 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* place.css */
@media screen and (min-width: 1280px) {
  .place {
    /* width: 100%; */
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    column-gap: 40px;
    border: 1px dashed red;
  }
}
/* place__title.css */
@media screen and (min-width: 1280px) {
  .place__title {
    padding: 0;
    margin: 0;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    grid-row: 1;
    grid-column: 1 / 2;
    border: 1px dashed red;
  }
}
/* place__website.css */
@media screen and (min-width: 1280px) {
  .place__website {
    min-width: 484px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px dashed red;
  }
}
/* place__url-heading.css */
@media screen and (min-width: 1280px) {
  .place__url-heading {
    padding: 0;
    color: #aaaaaa;
    font-size: 12px;
    line-height: 1.7;
    font-weight: normal;
    margin-bottom: 4px;
  }
}
/* place__link.css */
@media screen and (min-width: 1280px) {
  .place__link {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.22;
    font-weight: normal;
    text-decoration-line: underline;
  }
}
/* place__image.css */
@media screen and (min-width: 1280px) {
  .place__image {
    min-width: 460px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    grid-row: 2;
    grid-column: 1 / 2;
    border: 1px dashed red;
  }
}
