@media screen and (min-width: 1280px) {
  .lead__caption {
    margin: 8px auto 0;
    padding: 0;
    width: calc(100% - 2 * 148px);
    font-size: 10px;
    line-height: 1.4;
    font-weight: normal;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-align: left;
  }
}
