@media screen and (min-width: 1280px) {
  .place {
    /* width: 100%; */
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    column-gap: 40px;
    border: 1px dashed red;
  }
}
