@media screen and (min-width: 1280px) {
  .header__lang-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    padding-bottom: 4px;
  }
}

